.cell {
  aspect-ratio: 1;
  background: var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-xs);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--mantine-font-size-xs);
  font-weight: bold;
  border: none;
  cursor: pointer;

  &:hover {
    background: var(--mantine-color-gray-4);
  }
  margin: 0.5px;
}
