.title {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  position: absolute;
  left: rem(-30px);
  top: rem(48px);
  font-weight: 700;
  font-size: var(--mantine-font-size-md);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-xs);
    left: rem(-5px);
  }
  
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(6px);
    left: rem(10px);
  }
}
